# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env*.local

# Next.js
.next/
out/
build/

# Supabase
.branches/
.temp/

# IDE
.vscode/
.idea/
.cursor/

# OS
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
